# Database Assignments

# 16 Feb_AssQ solutions

In [1]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a system that stores and manages data in an organized manner. It acts as a digital warehouse where data is stored, structured, and accessed. It provides a way to store and retrieve data efficiently, enabling easy searching, sorting, and manipulation of information for various purposes.

In [2]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data definition language. It basically means defining the database as to create, alter, drop the database.

# CREATE:
- It helps to create the database or a table in existing database 
- Syntax - create database database_name

- to create a table

CREATE TABLE Employees (
    ID INT PRIMARY KEY,
    Name VARCHAR(50),
    Age INT,
    Salary DECIMAL(10, 2)
);


# Alter:
- The ALTER command is used to modify the structure of an existing table.
ALTER TABLE Employees
ADD COLUMN Address VARCHAR(100);


# DROP:
- It helps to DELETE the entire table from a database.
Syntax - drop table table_name;


# Truncate:
The TRUNCATE command is used to delete all the data from a table, while keeping the table structure intact.

- Syntax - 
TRUNCATE TABLE Employees;

# What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation language.
It basically helps in managing the database i.e insert, update or delete data from a database.

- Insert command - to add new records into a table.
INSERT INTO Employees (ID, Name, Age, Salary)
VALUES (1, 'John Doe', 30, 50000);


- Update command - to update an existing record in a table

UPDATE Employees
SET Salary = 55000
WHERE ID = 1; 


- Delete command - to remove specific records from a table.

DELETE FROM Employees
WHERE ID = 1;

# What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that is used to retrieve data from a database.

example:
select * from employee;  # to select all records from employee table

select name, age from employee where salary > 90000 order by name desc;  # to get name and age of employee whose salary is greater than 90000.

# Explain Primary Key and Foreign Key.

A primary key is a column or a combination of columns that uniquely identifies each record in a table. It ensures the uniqueness and integrity of data within the table. Every table should have a primary key.
e.g.
CREATE TABLE Students (studentID INT PRIMARY KEY, Name VARCHAR(50), Age INT);

Here, "StudentID is the primary key. It guarantees that each student in the "Students" table will have a unique identifier.


A foreign key is a column or a combination of columns that establishes a link or relationship between two tables. It refers to the primary key of another table, creating a parent-child relationship between the tables.
e.g.
CREATE TABLE Courses (CourseID INT PRIMARY KEY, CourseName VARCHAR(50), StudentID INT, 
                        FOREIGN KEY (StudentID) REFERENCES Students(studentID)
);
Here, the "StudentID" column in the "Courses" table is defined as a foreign key that references the primary key "studentID" in the "Students" table. This establishes a relationship between the "Courses" and "Students" tables, where each course is associated with a specific student.

# Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

- To connect MySQL to Python, we can use the mysql-connector-python library.

import mysql.connector

- Establishing the connection
connection = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

- Creating a cursor object
cursor = connection.cursor()
- creates a cursor object that allows us to execute SQL queries and fetch results. It acts as an interface to interact with the database.

- Executing a SQL query
query = "SELECT * FROM Employees"
cursor.execute(query)
- to execute SQL queries through the cursor object. It takes the query as a parameter and performs the operation on the connected database

- Fetching and printing the results
results = cursor.fetchall()
for row in results:
    print(row)

- Closing the cursor and connection
cursor.close()
connection.close()

- In the example above, the execute() method is used to execute the SELECT query, retrieving all rows from the "Employees" table.
- After executing the query, you can fetch the results using cursor.fetchall(), which returns a list of tuples representing the retrieved data. In the example, the results are iterated over and printed.

- Remember to replace "your_username," "your_password," and "your_database" with your actual MySQL connection details.

# Give the order of execution of SQL clauses in an SQL query.

- The order of execution of SQL clauses in an SQL query is as follows:

FROM: Specifies the table or tables from which the data will be retrieved.
WHERE: Filters the rows based on specified conditions.
GROUP BY: Groups the rows based on specified columns.
HAVING: Filters the groups based on specified conditions.
SELECT: Specifies the columns to retrieve from the table.
DISTINCT: Removes duplicate rows from the result set.
ORDER BY: Sorts the result set based on specified columns.
LIMIT/OFFSET: Specifies the number of rows to retrieve and the starting point for retrieval.
It is important to note that not all clauses are required in every SQL query, and their presence and order may vary depending on the specific query and requirements.